.profile-filters-container {
  width: 100%;
}

.line {
  width: 100%;
  border: 1px solid #475569;
  margin-top: 25px;
  margin-bottom: 20px;
}

.search-box-mobile-con {
  display: none;
}

.filter-jobs-heading {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.filter-jobs-employment-type-list {
  padding-left: 0px;
  list-style-type: none;
}

.job-filter-employment-type-con {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-filter-input-checkbox {
  width: 14px;
  height: 14px;
}

.job-filter-input-label {
  margin: 0px;
  margin-left: 8px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .profile-filters-container {
    width: 100%;
  }
  .search-box-mobile-con {
    display: flex;
    border: 1px solid #475569;
    border-radius: 4px;
    width: 100%;
    padding-left: 15px;
    align-items: center;
    margin-bottom: 20px;
    align-self: flex-start;
  }
}
