.jobs-container {
  display: flex;
  min-height: 100vh;
  background-color: #000000;
  width: 100%;
  color: white;
  padding: 20px 40px;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .jobs-container {
    flex-direction: column;
    padding: 20px 15px;
  }
}
